.container {
    max-width: 100% !important;
}

.home-section {
    position: relative;
    background: #FCFCFC;
    min-height: 100vh;
    top: 0;
    /* left: 50px;
    width: calc(100% - 50px); */
    transition: all 0.5s ease;
    z-index: 2;
    overflow: hidden;
}

.bg-primary-e {
    color: #fff !important;
    background-color: #132f52 !important;
}

.btn-primary {
    background-color: #132f52 !important;
}

a {
    color: #132f52 !important;
}

.navbar li a {
    background-color: #132f52;
    border-radius: 10px !important;
    text-align: center;
}

.navbar li a:hover,
.active,
.dropdown a:hover,
.dropdown:hover .dropbtn .dropdown-l2:hover .dropbtn-l2,
.dropdown-l3:hover .dropbtn-l3 {
    background-color: #fff !important;
    border-radius: 10px !important;
    color: #132f52 !important;
}

.nav-link-user {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    cursor: default;
}

.nav-link-user:hover {
    background-color: #132f52 !important;
    color: #fff !important;
}
/* ===========================================================================  */

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border-radius: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content,
.dropdown-content-l2,
.dropdown-content-l3 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content-l2 {
    margin-left: 190px;
    margin-top: -25px;
    width: 230px;
}

.dropdown-content-l3 {
    margin-left: 220px;
    margin-top: -25px;
    width: 230px;
}

.dropdown-content a,
.dropdown-content-l2 a,
.dropdown-content-l3 a {
    padding: 5px 15px;
    text-decoration: none;
    display: block;
    border-radius: 20px;
    width: auto;
    text-align: left;
    font-size: 12px !important;
}

.dropdown:hover .dropdown-content,
.dropdown-l2:hover .dropdown-content-l2,
.dropdown-l3:hover .dropdown-content-l3 {
    display: block;
    border-radius: 20px;
}

/* .dropdown:hover .dropbtn .dropdown-l2:hover .dropbtn-l2,
.dropdown-l3:hover .dropbtn-l3 {
    background-color: rgb(79, 137, 231);
    border-radius: 20px;
} */









/* ===========================================================================  */

/* .dropdown-menu,
.dropdown-item {
    border-radius: 20px !important;
} */

.card {
    border-radius: 20px !important;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
}

.card-p {
    transition: 0.5s;
    cursor: pointer;
}

.card-title {
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
}

.card-title i {
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
    color: #ffa710
}

.card-title i:hover {
    transform: scale(1.25) rotate(100deg);
    color: #18d4ca;

}

.card-p:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card-text {
    height: 80px;
}

.card::before,
.card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
}

.card::before {
    transform-origin: left top;
}

.card::after {
    transform-origin: right bottom;
}

/* .card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
    transform: scale3d(1, 1, 1);
} */

li>a {
    color: #fff !important;
    font-size: 12px !important;
}

.nav-item {
    padding: 0 5px;
}

/* =============== Tooltip ================== */
.tooltip {
    padding-bottom: 0 !important;
}

.box_tooltip {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 1;
}

.box_tooltip:hover .box .flecha-down {
    visibility: visible;
    color: #fff;
    margin-bottom: 5px;
}

.box_tooltip:hover .btn_round_gl,
.box_tooltip:hover .btn_round_dep,
.box_tooltip:hover .btn_round_pue,
.box_tooltip:hover .btn_round_per,
.box_tooltip:hover .btn_round_cli,
.box_tooltip:hover .btn_round_back {
    color: #fff;
    bottom: 5px;
}

.box:hover:before,
.box-table:hover:before {
    visibility: visible;
}

.box::before {
    background: #000;
    border: 2px solid #999;
    color: #fff;
    position: absolute;
    padding: .2em;
    visibility: hidden;
    border-radius: 10px;
    margin-bottom: 5px;
}

.box-table::before {
    background: #000;
    border: 2px solid #999;
    color: #fff;
    position: absolute;
    padding: .5em;
    visibility: hidden;
    border-radius: 20px;
}

.btn_round_gl:hover:after,
.btn_round_dep:hover:after,
.btn_round_pue:hover:after,
.btn_round_per:hover:after,
.btn_round_cli:hover:after,
.btn_round_back:hover:after,
.box_da:hover:after,
.box_rf:hover:after,
.box_ci:hover:after,
.box_im:hover:after,
.box_3c:hover:after,
.box_fin:hover:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: -10px;
    left: 20%;
    border-top: 10px solid #000;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
}

.btn_round_gl::before {
    content: "Nuevo Usuario";
    width: 153px;
    margin-right: 105px;
    bottom: 40px;
}

.btn_round_dep::before {
    content: "Nuevo Departamento";
    width: 153px;
    margin-right: 105px;
    bottom: 40px;
}

.btn_round_pue::before {
    content: "Nuevo Puesto";
    width: 153px;
    margin-right: 105px;
    bottom: 40px;
}

.btn_round_per::before {
    content: "Nuevo Perfil";
    width: 153px;
    margin-right: 105px;
    bottom: 40px;
}

.btn_round_cli::before {
    content: "Nuevo Cliente";
    width: 153px;
    margin-right: 105px;
    bottom: 40px;
}

.box {
    position: absolute;
    bottom: 5px;
    right: 15px;
    border: 1px solid #343A40;
    background: #343A40;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    /* z-index: 90090; */
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.box-table {
    position: relative;
    /* z-index: 90090; */
}

.bg-blue-table {
    background-color: #132f52 !important;
    color: #fff;
}

.cursor-pointer {
    cursor: pointer;
}

/* LOADER */

#circle,
#circleModal {
    position: absolute;
    top: 50%;
    left: calc(50% - -50px);
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
}

.loanding,
.loandingModal {
    position: fixed;
    z-index: 999999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: -70px;
    bottom: 0;
    right: 0;
    /* height: 100%;
    width: 100%; */
}

.loanding:before,
.loandingModal::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20, 1), rgba(0, 0, 0, 1));
    background: -webkit-radial-gradient(rgb(29 32 39 / 20%), rgb(58 55 55 / 20%));
    /* background: #b5c4ce; */
}

.loader,
.loaderModal {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    border: 5px solid #132f52;
    border-top: 5px solid transparent;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

table {
    font-size: 0.72rem !important;
    border-radius: 10px;
    overflow: hidden;
}

.dataTables_wrapper,
table tbody tr {
    /* border: solid 1px #bdb8b8; */
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

table.dataTable thead tr th {
    word-wrap: break-word;
    word-break: break-all;
    color: #fff;
}

table.dataTable tbody tr td {
    word-wrap: break-word;
}

.thname {
    min-width: 8rem !important;
    word-wrap: break-Word;
}

.tblnombre th,
.tblnombre td {
    /* max-width: 20px !important; */
    word-wrap: break-Word;
}

.tblnombre td {
    white-space: inherit !important;
}

#tblAgentes_paginate {
    margin-top: -30px !important;
    margin-right: 50px !important;
}

select::-webkit-scrollbar,
textarea::-webkit-scrollbar,
html::-webkit-scrollbar,
.fc-scroller::-webkit-scrollbar {
    width: 12px !important;
    cursor: pointer;
}

/* .fc-scroller::-webkit-scrollbar-thumb {
    background: #a3a6a9 !important;
    border-radius: 10px !important;
} */

select::-webkit-scrollbar-thumb:hover,
textarea::-webkit-scrollbar-thumb:hover,
html::-webkit-scrollbar-thumb:hover,
.fc-scroller::-webkit-scrollbar-thumb:hover {
    background: #a3a6a9 !important;
}

select::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb,
div.dataTables_scrollBody::-webkit-scrollbar-thumb,
.select2-results__options::-webkit-scrollbar-thumb,
.fc-scroller::-webkit-scrollbar-thumb {
    background: #a3a6a9;
    border-radius: 10px;
}

select::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track,
html::-webkit-scrollbar-track,
div.dataTables_scrollBody::-webkit-scrollbar-track,
.select2-results__options::-webkit-scrollbar-track,
.fc-scroller::-webkit-scrollbar-track {
    background-color: #ddd;
    margin: 5px !important;
    border-radius: 10px;
}

select::-webkit-scrollbar-button,
textarea::-webkit-scrollbar-button,
html::-webkit-scrollbar-button,
div.dataTables_scrollBody::-webkit-scrollbar-button,
.select2-results__options::-webkit-scrollbar-button,
.fc-scroller::-webkit-scrollbar-button {
    background-color: transparent;
}

select::-webkit-scrollbar-button:single-button:vertical:decrement,
textarea::-webkit-scrollbar-button:single-button:vertical:decrement,
html::-webkit-scrollbar-button:single-button:vertical:decrement,
div.dataTables_scrollBody::-webkit-scrollbar-button:single-button:vertical:decrement,
.select2-results__options::-webkit-scrollbar-button:single-button:vertical:decrement,
.fc-scroller::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-right: 6px solid transparent;
    border-top: 0 solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 10px solid #8b8b8b;
}

div.dataTables_scrollBody::-webkit-scrollbar-button:single-button:vertical:increment,
select::-webkit-scrollbar-button:single-button:vertical:increment,
textarea::-webkit-scrollbar-button:single-button:vertical:increment,
.select2-results__options::-webkit-scrollbar-button:single-button:vertical:increment,
.fc-scroller::-webkit-scrollbar-button:single-button:vertical:increment {
    border-right: 6px solid transparent;
    border-top: 10px solid #8b8b8b;
    border-left: 6px solid transparent;
    border-bottom: 0 solid transparent;
}

div.dataTables_scrollBody::-webkit-scrollbar-button:single-button:horizontal:decrement,
textarea::-webkit-scrollbar-button:single-button:horizontal:decrement,
select::-webkit-scrollbar-button:single-button:horizontal:decrement,
.select2-results__options::-webkit-scrollbar-button:single-button:horizontal:decrement,
.fc-scroller::-webkit-scrollbar-button:single-button:horizontal:decrement {
    border-right: 10px solid #8b8b8b;
    border-top: 6px solid transparent;
    border-left: 0 solid transparent;
    border-bottom: 6px solid transparent;
}

div.dataTables_scrollBody::-webkit-scrollbar-button:single-button:horizontal:increment,
textarea::-webkit-scrollbar-button:single-button:horizontal:increment,
select::-webkit-scrollbar-button:single-button:horizontal:increment,
.select2-results__options::-webkit-scrollbar-button:single-button:horizontal:increment,
.fc-scroller::-webkit-scrollbar-button:single-button:horizontal:increment {
    border-right: 0 solid transparent;
    border-top: 6px solid transparent;
    border-left: 10px solid #8b8b8b;
    border-bottom: 6px solid transparent;
}

div.dataTables_scrollBody::-webkit-scrollbar,
textarea::-webkit-scrollbar,
select::-webkit-scrollbar,
.select2-results__options::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.dataTables_wrapper .dataTables_scroll,
.select2-results__options {
    border-bottom: none !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody,
.select2-results__options {
    border-bottom: none !important;
    /* margin-bottom: 10px; */
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0 !important;
}

table.dataTable tbody tr.selectedCte>*,
table.dataTable tbody tr.selectedCto>*,
table.dataTable tbody tr.selectedCtoTel>* {
    box-shadow: inset 0 0 0 9999px rgba(75, 86, 102, 0.9) !important;
    /* background-color: #b0bed9 !important; */
    font-weight: bold;
    color: #fff !important;
}

.rounded-btn {
    border-radius: 10px !important;
}

.form-control,
.form-select,
.form-select option,
.form-label,
.form-text {
    font-size: 10px !important;
    height: 21px;
    border-radius: 5px !important;
    margin-top: 3px;
}

.form-label {
    font-weight: bold;
}

.form-select {
    padding: 0 2.25rem 0 0.4rem !important
}

#tblClientes_paginate,
#tblContactosAll_paginate {
    width: 50% !important;
    float: right;
    margin-top: -30px;
    margin-right: 60px;
}

#tblContactosAll_paginate {
    margin-right: 60px;
}

.active>.page-link {
    color: #fff !important;
}

.page-link {
    border-radius: 10px !important;
    color: #000 !important;
}

.page-link:hover {
    border-radius: 10px;
    color: #fff !important;
    background-color: #132f52 !important;
}

.modal-backdrop.show {
    z-index: 0;
}

.modal-content {
    overflow: hidden;
    border-radius: 20px !important;
}

.modal-header {
    background-color: #132f52;
    color: #fff;
    height: 35px;
    padding-top: 5px;
}

.modal {
    overflow-y: hidden !important;
}
.fullscreen-modal .modal-dialog {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 100%;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

#nav_item_clientes,
#nav_item_usuarios,
#nav_item_departamentos,
#nav_item_puestos,
#nav_item_perfiles,
#nav_item_agentes,
#nav_item_proveedores,
#nav_item_almacenes,
#nav_item_presentaciones,
#nav_item_estados,
#nav_item_paises,
#nav_item_mensajeros,
#nav_item_actividades_mensajeria,
#nav_item_tipos_cambio,
#nav_item_conceptos_bonificaciones,
#nav_item_conceptos_deducciones,
#nav_item_clientes_edit,
#nav_item_contactos_edit,
#nav_item_contactos {
    padding: 0 !important;
    border-radius: 10px 10px 0 0 !important;
}

#nav_item_clientes a:hover,
#nav_item_agentes a:hover,
#nav_item_usuarios a:hover,
#nav_item_departamentos a:hover,
#nav_item_puestos a:hover,
#nav_item_perfiles a:hover,
#nav_item_proveedores a:hover,
#nav_item_almacenes a:hover,
#nav_item_presentaciones a:hover,
#nav_item_estados a:hover,
#nav_item_paises a:hover,
#nav_item_mensajeros a:hover,
#nav_item_actividades_mensajeria a:hover,
#nav_item_tipos_cambio a:hover,
#nav_item_conceptos_bonificaciones a:hover,
#nav_item_conceptos_deducciones a:hover,
#nav_item_clientes_edit a:hover,
#nav_item_contactos_edit a:hover,
#nav_item_contactos a:hover {
    border-top: #132f52 solid 5px !important;
    /* font-weight: bold; */
    border-radius: 10px 10px 0 0 !important;
}

#nav_item_clientes .active,
#nav_item_usuarios .active,
#nav_item_departamentos .active,
#nav_item_puestos .active,
#nav_item_perfiles .active,
#nav_item_agentes .active,
#nav_item_proveedores .active,
#nav_item_almacenes .active,
#nav_item_presentaciones .active,
#nav_item_estados .active,
#nav_item_paises .active,
#nav_item_mensajeros .active,
#nav_item_actividades_mensajeria .active,
#nav_item_tipos_cambio .active,
#nav_item_conceptos_bonificaciones .active,
#nav_item_conceptos_deducciones .active,
#nav_item_clientes_edit .active,
#nav_item_contactos_edit .active,
#nav_item_contactos .active {
    border-top: #132f52 solid 5px !important;
    font-weight: bold;
    border-radius: 10px 10px 0 0 !important;
}

#nav_item_clientes,
#nav_item_usuarios,
#nav_item_depatrtamentos,
#nav_item_puestoa,
#nav_item_perfiles,
#nav_item_clientes_edit,
#nav_item_agentes,
#nav_item_proveedores,
#nav_item_almacenes,
#nav_item_presentaciones,
#nav_item_estados,
#nav_item_paises,
#nav_item_mensajeros,
#nav_item_actividades_mensajeria,
#nav_item_tipos_cambio,
#nav_item_conceptos_bonificaciones,
#nav_item_conceptos_deducciones,
#nav_item_contactos,
#nav_item_contactos_edit,
#nav_item_clientes a,
#nav_item_usuarios a,
#nav_item_departamentos a,
#nav_item_puestos a,
#nav_item_perfiles a,
#nav_item_clientes_edit a,
#nav_item_agentes a,
#nav_item_proveedores a,
#nav_item_almacenes a,
#nav_item_presentaciones a,
#nav_item_estados a,
#nav_item_paises a,
#nav_item_mensajeros a,
#nav_item_actividades_mensajeria a,
#nav_item_tipos_cambio a,
#nav_item_conceptos_bonificaciones a,
#nav_item_conceptos_deducciones a,
#nav_item_contactos_edit a,
#nav_item_contactos a {
    color: #000 !important;
    background-color: #f1f1f1 !important;
    border-radius: 10px 10px 0 0 !important;
}

.tab-content>.active {
    background-color: #fff !important;
}

.form-switch {
    font-size: 14px;
}

.swal2-modal, .swal2-show {
    border-radius: 20px !important;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
}

.swal2-toast {
    border-radius: 20px !important;
    box-shadow: 0 0 1px rgba(0,0,0,.2),0 1px 2px rgba(0,0,0,.2),1px 2px 4px rgba(0,0,0,.2),1px 3px 8px rgba(0,0,0,.2),2px 4px 16px rgba(0,0,0,.2) !important;
}

.swal2-confirm, .swal2-deny, .swal2-cancel, .btn {
    border-radius: 10px !important;
}

.swal2-confirm {
    background-color: #132f52 !important;
}

.col-form-label {
    font-size: 12px !important;
    margin-top: 4px !important;
}

.modal-body {
    padding-bottom: 0 !important;
}

.modal-footer {
    padding: 5px !important;
}

#tblPermisos .form-switch {
    padding-left: 5em !important;
}
